# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\MAPE_NA_NAMIZJU\STUDIJ\4_semester\RPS\Vaja2\CLion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
